@model SEP_VanLangHotel.Models.Phong

@{
    ViewBag.Title = "THÊM PHÒNG MỚI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Session["error-import-file"].Equals("empthy"))
{
    <body onload="kiemtrafileimport()">
    </body>
    <script>
        let info = @Html.Raw(Json.Encode(Session["error-import-file"]));
        function kiemtrafileimport() {
            cuteAlert({
                type: "error",
                title: "Thông báo!",
                message: info,
                buttonText: "Xác nhận"
            })
        }
    </script>
    Session["error-import-file"] = "empthy";
}
else if (!Session["thongbaoSuccess"].Equals("empthy"))
{
    <body onload="kiemtrafileimport()">
    </body>
    <script>
    let info = @Html.Raw(Json.Encode(Session["thongbaoSuccess"]));
    function kiemtrafileimport()
    {
        cuteAlert({
            type: "Success",
            title: "Thông báo!",
            message: info,
            buttonText: "Xác nhận"
        })
    }
    </script>
    Session["thongbaoSuccess"] = "empthy";
}

<title>@ViewBag.Title</title>
<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 style="text-shadow: black 0.1em 0.1em 0.2em" class="text-white pb-2 fw-bold">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("AddRoom", "AdminManagementRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Ma_Khach_San)
    @Html.HiddenFor(model => model.Ma_Trang_Thai)
    <div class="page-inner mt--5">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header"><b>Ảnh Phòng</b></div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img src="https://firebasestorage.googleapis.com/v0/b/sep-project-2022-6fbfd.appspot.com/o/images%2Fjessica-jeansoulin-icon-hotel-ortho.jpg?alt=media&token=2f27626f-ef94-44be-b7e8-cdfe0616c38a" alt="avatar"
                             style="border-radius:3%; width:75%" class="img-room-profile mb-2" id="previewImage">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-2"> Chọn hình ảnh phòng - ảnh vuông, dưới 5MB</div>
                        <input role="button" class="btn btn-primary" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImage'))" />
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header"><b>Thông tin tài khoản</b></div>
                    <div class="card-body" style="margin-top: -1.8rem">
                        <br />
                        <div class="mb-3">
                            <label class="small mb-1">Số phòng</label>
                            @*//ReadOnly = true*@
                            @Html.EditorFor(model => model.So_Phong, new { htmlAttributes = new { placeholder = "Phong 1A.0000...", @class = "form-control", @pattern = ".{1,10}", @required = "required", @oninvalid = "this.setCustomValidity('Số phòng nhập tối đa 30 ký tự')", @oninput = "this.setCustomValidity('')" } })
                            @Html.ValidationMessageFor(model => model.So_Phong, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1">Loại phòng</label>
                            @Html.DropDownListFor(model => model.Ma_Loai_Phong, (SelectList)ViewBag.Ma_Loai_Phong, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Ma_Loai_Phong, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <br />
                        <hr />
                        <div style="text-align: center; margin-top: 1.8rem" class="mb-3">
                            <button style="width: 180px; color: white;" type="submit" class="btn btn-search" onclick="if (!confirm('Thêm phòng?')) { return false }">
                                Thêm
                            </button>
                            &emsp;
                            <a style="width:180px; color:white;" role="button" class="btn btn-danger" onclick="huythemphong()">
                                Hủy
                            </a>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<link rel="stylesheet" href="~/assets/css/profiles.css">
<script>
    function huythemphong() {
       cuteAlert({
           type: "question",
           title: "Hủy bỏ?",
           message: "Bạn có chắc chắn muốn hủy thêm phòng?",
           confirmText: "Xác nhận", cancelText: "không hủy"
       }).then(function (isConfirm) {
           if (isConfirm) {
               window.location.href = '@Url.Action("Home", "AdminManagementRoom")';
           } else {
               return false;
           }
       });
   }
</script>
