@model List<List<List<string>>>
@using SEP_VanLangHotel.Models;
@{SEP25Team09Entities modelss = new SEP25Team09Entities();}
@{
    ViewBag.Title = "THÔNG TIN ĐẶT PHÒNG";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (!Session["error-import-file"].Equals("empthy"))
{
    <body onload="kiemtrafileimport()">
    </body>
    <script>
        let info = @Html.Raw(Json.Encode(Session["error-import-file"]));
        function kiemtrafileimport() {
            cuteAlert({
                type: "error",
                title: "Thông báo!",
                message: info,
                buttonText: "Xác nhận"
            })
        }
    </script>
    Session["error-import-file"] = "empthy";
}
<title>@ViewBag.Title</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">THÔNG TIN ĐẶT PHÒNG THEO TOUR</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">

        @using (Html.BeginForm("SaveDataImport", "OrderRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="card-title"><b>THÔNG TIN NGƯỜI TRỤ TRÌ TOUR</b></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row card-item bg">
                                <div class="col-xl-12">
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            <label class="small mb-1">Họ tên</label>
                                            <input type="text" placeholder="Nguyễn Văn A..." class="form-control" name="hoten" pattern="[aAàÀảẢãÃáÁạẠăĂằẰẳẲẵẴắẮặẶâÂầẦẩẨẫẪấẤậẬbBcCdDđĐeEèÈẻẺẽẼéÉẹẸêÊềỀểỂễỄếẾệỆfFgGhHiIìÌỉỈĩĨíÍịỊjJkKlLmMnNoOòÒỏỎõÕóÓọỌôÔồỒổỔỗỖốỐộỘơƠờỜởỞỡỠớỚợỢpPqQrRsStTuUùÙủỦũŨúÚụỤưƯừỪửỬữỮứỨựỰvVwWxXyYỳỲỷỶỹỸýÝỵỴzZ ]{1,30}" required="required" oninvalid="this.setCustomValidity('Hãy nhập vào họ tên người trụ trì Tour với tối đa 30 ký tự')" oninput="this.setCustomValidity('')" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1">CMND/CCCD</label>
                                            <input type="text" placeholder="070200001234..." class="form-control" name="cmndcccd" pattern="[0-9]{9,12}" required="required" oninvalid="this.setCustomValidity('Hãy nhập số CMND/CCCD của người trụ trì Tour')" oninput="this.setCustomValidity('')" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1">Số điện thoại</label>
                                            <input type="text" placeholder="0987654321..." class="form-control" name="sdt" pattern="[0-9]{10}" required="required" oninvalid="this.setCustomValidity('Hãy nhập số điện thoại của người trụ trì Tour')" oninput="this.setCustomValidity('')" />
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            <label class="small mb-1">Ngày sinh</label>
                                            <input type="date" class="form-control" name="ngaysinh" required="required" oninvalid="this.setCustomValidity('Hãy nhập ngày sinh của người trụ trì Tour')" oninput="this.setCustomValidity('')" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1">Giới tính</label>
                                            @Html.DropDownList("gioiTinh", (IEnumerable<SelectListItem>)ViewBag.Gioi_Tinh, null, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('Giới tính không được bỏ trống')", @oninput = "this.setCustomValidity('')" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1">Email</label>
                                            <input type="email" placeholder="example@("@")email.com.vn..." class="form-control" name="Email" required="required" oninvalid="this.setCustomValidity('Hãy nhập vào Email của người trụ trì Tour')" oninput="this.setCustomValidity('')" />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1">Địa chỉ</label>
                                        <textarea rows="4"  placeholder="Số 17/20 Nguyễn Văn Cần, Phường 7, Q. Phú Nhuận, TP Hồ Chí Minh..." class="form-control" name="diachi" pattern=".{1,200}" required="required" oninvalid="this.setCustomValidity('Hãy nhập vào địa chỉ của người trụ trì Tour với tối đa 200 ký tự')" oninput="this.setCustomValidity('')"></textarea>
                                    </div>
                                    <br />
                                    <hr />
                                    <div class="row gx-3 mb-3" style="margin-top:-1rem">
                                        <div class="col-md-6">
                                            <label class="small mb-1">Ở từ ngày</label>
                                            <p style="font-weight: bold; text-align: center; color: black; background-color: #EEEEEE " type="text" class="form-control">@Convert.ToDateTime(Session["NgayDen"]).ToString("dd/MM/yyyy")</p>
                                            <input hidden style="text-align: center; font-weight: bold; color: black" value="@Convert.ToDateTime(Session["NgayDen"]).ToString("yyyy-MM-dd")" type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="small mb-1">Đến hết ngày</label>
                                            <p style="font-weight: bold; text-align: center; color: black; background-color: #EEEEEE " type="text" class="form-control">@Convert.ToDateTime(Session["NgayVe"]).ToString("dd/MM/yyyy")</p>
                                            <input hidden style="text-align:center;font-weight:bold; color:black" value="@Convert.ToDateTime(Session["NgayVe"]).ToString("yyyy-MM-dd")" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <label class="small mb-1">Tổng Thanh Toán (VND)</label>
                                            <p style="text-align: center; font-weight: bold; color: red; background-color: #EEEEEE" type="text" class="form-control">@((Convert.ToInt64(Session["tong-thanhtoan"]).ToString("0,0")).Replace(".",","))</p>
                                            <input hidden style="text-align: center; color: red; font-weight: bold; font-size: 18px" value="@((Convert.ToInt64(Session["tong-thanhtoan"]).ToString("0,0")).Replace(".",","))" type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="small mb-1">Số tiền cọc  (VND - từ 30% trở lên)</label>
                                            <input type="text" id="testinput" value="@((Convert.ToInt64(Session["tong-coc"]).ToString("0,0")).Replace(".",","))" maxlength="@((Convert.ToDecimal(Session["tong-thanhtoan"])).ToString("0,0").Length)" style="text-align: center; font-weight: bold; color:red" class="form-control" name="sotiencoc" required="required" oninvalid="this.setCustomValidity('Hãy chọn ngày sinh của người trụ trì Tour')" oninput="this.setCustomValidity('')" />
                                        </div>
                                    </div>
                                    <br />
                                    <hr />
                                    <br />
                                    <div class="row gx-3 mb-3">
                                        <div style="text-align:right" class="col-md-6">
                                            <button style="text-align: center; width: 180px;" type="submit" onclick="if (!confirm('Xác nhận đặt phòng?')) { return false; }" class="btn btn-search">Hoàn Tất</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a style="color: white; width: 180px;" class="btn btn-danger" onclick="xacnhanhuybo()" role="button"> Hủy Bỏ </a>
                                            <script>
                                                function xacnhanhuybo() {
                                                    cuteAlert({
                                                    type: "question",
                                                    title: "Hủy bỏ đặt phòng?",
                                                    message: "Bạn có chắc chắn muốn hủy bỏ?",
                                                        confirmText: "Xác nhận",
                                                    cancelText: "Không hủy"

                                                }).then(function (isConfirm) {
                                                    if (isConfirm) {
                                                        window.location.href = '@Url.Action("Homepage", "Home")';
                                                    } else {
                                                        return false;
                                                    }
                                                });
                                            }
                                            </script>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="card-title"><b>DANH SÁCH PHÒNG ĐƯỢC ĐẶT CHO @Model.Count NHÓM KHÁCH HÀNG</b></div>
                            </div>
                        </div>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            var maphong = Model[i][Model[i].Count - 1][0];

                            <div class="card-body">
                                <div class="col-xl-12">
                                    <div class="row card-item bg">
                                        <!-- Form Group (Hình ảnh)-->
                                        <div class="col-md-6 size">
                                            @foreach (var item in modelss.Phong.Where(c => c.Ma_Phong.Equals(maphong)))
                                            {
                                                <img class="img-book-room" src="@item.Hinh_Anh" alt="">
                                            }
                                            </div>
                                        <div class="col-md-6">
                                            <!-- Form Group (Số phòng)-->
                                            <div class="col-md-6 ml-auto mr-auto range text-center">
                                                <label class="small-title">
                                                    @foreach (var item in modelss.Phong.Where(c => c.Ma_Phong.Equals(maphong)))
                                                    {
                                                        <b>
                                                            @item.So_Phong
                                                        </b>
                                                    }

                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row gx-3 mb-3">
                                                    <div class="col-md-6">
                                                        <label class="small-item" for="">Họ & Tên</label>
                                                        <input class="form-control" type="text" value="@Model[i][0][1]" disabled style="font-weight:bold;color:black;" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="small-item" for="">Số điện thoại</label>
                                                        <input class="form-control" type="text" value="@Model[i][0][3]" disabled style="font-weight:bold;color:black;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Form Group(Tiện ích)-->
                                            <div class="form-group col-md-12 text-center"  style="margin-top: 2.5rem">
                                                <div style="overflow-x: auto; white-space: nowrap; display: inline-block; width: 490px; margin-top:-15px " class="selectgroup selectgroup-pills range">
                                                    @foreach (var item in modelss.Phong.Where(p => p.Ma_Phong.Equals(maphong)))
                                                    {
                                                        foreach (var ti in modelss.DS_Tien_Ich.Where(t => t.Ma_Loai_Phong.Equals(item.Ma_Loai_Phong)))
                                                        {
                                                            <label class="selectgroup-item">
                                                                <input type="checkbox" class="selectgroup-input" disabled>
                                                                <span class="selectgroup-button no-active">@ti.Tien_Ich.Ten_Tien_Ich</span>
                                                            </label>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col text-center layout-footer">
                                                @foreach (var item in modelss.Phong.Where(p => p.Ma_Phong.Equals(maphong)))
                                                {
                                                    <label class="small-footer">
                                                        @item.Loai_Phong.Gia.ToString("0,0") &emsp;×&emsp; @Session["SoNgay"] ngày &emsp;=&emsp; @((item.Loai_Phong.Gia * (Convert.ToInt32(Session["SoNgay"]))).ToString("0,0"))
                                                    </label>
                                                }
                                                &emsp;
                                                <label class="small-footer">VND</label>
                                            </div>
                                            <!--<div class="col text-center">-->
                                            @*<a style="width:180px" class="btn btn-bookroom" role="button" href="../demo1/detailBookRoom.html" id="btn-edit__lock">
                                                    Đặt phòng
                                                </a>*@
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $("#testinput").on("keydown", function (e) {
        var keycode = (event.which) ? event.which : event.keyCode;
        if (e.shiftKey == true || e.ctrlKey == true) return false;
        if ([8, 110, 39, 37, 46].indexOf(keycode) >= 0 || // allow tab, dot, left and right arrows, delete keys
            (keycode == 190 && this.value.indexOf('.') === -1) || // allow dot if not exists in the value
            (keycode == 110 && this.value.indexOf('.') === -1) || // allow dot if not exists in the value
            (keycode >= 48 && keycode <= 57) || // allow numbers
            (keycode >= 96 && keycode <= 105)) { // allow numpad numbers
            // check for the decimals after dot and prevent any digits
            var parts = this.value.split('.');
            if (parts.length > 1 && // has decimals
                parts[1].length >= 2 && // should limit this
                (
                    (keycode >= 48 && keycode <= 57) || (keycode >= 96 && keycode <= 105)
                ) // requested key is a digit
            ) {
                return false;
            } else {
                if (keycode == 110) {
                    this.value += ".";
                    return false;
                }
                return true;
            }
        } else {
            return false;
        }
    }).on("keyup", function () {
        var parts = this.value.split('.');
        parts[0] = parts[0].replace(/,/g, '').replace(/^0+/g, '');
        if (parts[0] == "") parts[0] = "0";
        var calculated = parts[0].replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        if (parts.length >= 2) calculated += "." + parts[1].substring(0, 2);
        this.value = calculated;
        if (this.value == "NaN" || this.value == "") this.value = 0;
    });
</script>