@model List<SEP_VanLangHotel.Models.Phong>
@using SEP_VanLangHotel.Models;
@{SEP25Team09Entities modelss = new SEP25Team09Entities();
    var tienIch = modelss.Tien_Ich.ToList();
    var tiDaCo = tienIch.Where(t => t.Ma_Tien_Ich.Equals("TI202207070001")).First();
    tienIch.Remove(tiDaCo);
}
@{
    ViewBag.Title = "Đặt phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    input[type=checkbox] {
        transform: scale(2);
        margin-top: 10px;
        margin-bottom: 7px;
    }
</style>

<title>@ViewBag.Title</title>
<script>
    //  document.getElementById('tries').scrollIntoView()
    window.location.hash = '#tries';
</script>
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">ĐẶT PHÒNG KHÁCH SẠN</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <label for="import"></label>
                            <button style="color:white;" class="btn btn-secondary btn-round ml-auto" data-toggle="modal" data-target="#imPortModal">
                                <i class="fas fa-file-import"></i> &ensp;
                                Import Danh Sách
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="modal fade" id="imPortModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header no-bd">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold">
                                                Nhập danh sách
                                            </span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    @using (Html.BeginForm("ImportData", "OrderRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div style="text-align:center;" class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <input id="importFileExcel" name="importFileExcel" class="btn btn-secondary btn-round ml-aut" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align:center;" class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button style="text-align: center; width: 150px" type="submit" class="btn btn-search" onclick="if (!confirm('Tìm phòng?')) { return false; } {$('#imPortModal').modal('toggle'); }">Tìm Phòng</button>
                                                    &ensp;
                                                    <a role="button" style="text-align: center; width: 150px; color: white;" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Hủy</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row card-item bg">
                            <div class="col-xl-12">
                                @using (Html.BeginForm("orderRooms", "OrderRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group col-md-12 text-center" style="margin-top: -2rem">
                                        <label style="text-align:center" class="small-title mb-1" for="">Thông Tin đặt phòng</label>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-3">
                                            <label class="small mb-1">Trả phòng sau ngày</label>
                                            <input name="ngayVe" value="@Convert.ToDateTime(Session["thoigian-ve"]).ToString("yyyy-MM-dd")" style="color:black" type="date" class="form-control" required="required" oninvalid="this.setCustomValidity('Hãy chọn ngày đi')" oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="small mb-1">Số người lớn</label>
                                            <input name="soNguoiLon" value="@Session["songuoi-lon"]" style="color:black" type="number" min="1" max="4" class="form-control" required="required" oninvalid="this.setCustomValidity('Hãy nhập số lượng người lớn tối đa 4 người')" oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="small mb-1">Số trẻ em (dưới 14 tuổi)</label>
                                            <input name="soTreEm" value="@Session["songuoi-treem"]" style="color:black" type="number" min="0" max="5" class="form-control" required="required" oninvalid="this.setCustomValidity('Hãy nhập số lượng trẻ em tối đa 4 người')" oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="small mb-1">Số giường</label>
                                            <input name="soGiuong" value="@Session["sogiuong"]" style="color:black" type="number" min="1" max="2" class="form-control" required="required" oninvalid="this.setCustomValidity('Hãy nhập số lượng giường của phòng tối đa 2 giường')" oninput="this.setCustomValidity('')">
                                        </div>
                                    </div>
                                    <br />
                                    <hr />
                                    <div class="row gx-3 mb-3">
                                        <div class="form-group col-md-12 text-center">
                                            <div class="selectgroup selectgroup-pills">
                                                @for (int i = 0; i < tienIch.Count; i++)
                                                {
                                                    <label class="selectgroup-item">
                                                        @Html.CheckBoxFor(t => tienIch[i].IsChecks, new { @class = "form-control", type = "checkbox", style = "accent-color: #e74c3c" })
                                                        <span style="border-color:peru;" class="selectgroup-button">@tienIch[i].Ten_Tien_Ich</span>
                                                        @Html.HiddenFor(t => tienIch[i].Ma_Tien_Ich)
                                                        @Html.HiddenFor(t => tienIch[i].Ten_Tien_Ich)

                                                    </label>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <br />
                                    <div id="tries" style="text-align: center;" class="mb-3">
                                        <button style="width:180px" type="submit" class="btn btn-search">
                                            Tìm kiếm
                                        </button>
                                    </div>
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title"><b>Còn @Model.Count phòng trống phù hợp</b></div>
                        </div>
                    </div>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var maphongg = Model[i].Ma_Phong;
                        var maloaiphong = Model[i].Ma_Loai_Phong;

                        <div class="card-body">
                            <div class="col-xl-12">
                                <div class="row card-item bg">
                                    <!-- Form Group (Hình ảnh)-->
                                    <div class="col-md-6 size">
                                        <img class="img-book-room" src="@Model[i].Hinh_Anh" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Form Group (Số phòng)-->
                                        <div class="col-md-6 ml-auto mr-auto range text-center">
                                            <label class="small-title">
                                                <b>
                                                    @Model[i].So_Phong
                                                </b>
                                            </label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row gx-3 mb-3">
                                                <div class="col-md-6">
                                                    <label class="small-item" for="">Số người</label>
                                                    <input class="form-control" type="text" value="Tối đa @(Model[i].Loai_Phong.So_Nguoi_Lon + Model[i].Loai_Phong.So_Tre_Em) người" disabled style="font-weight:bold;color:black;" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="small-item" for="">Số giường</label>
                                                    <input class="form-control" type="text" value="@Model[i].Loai_Phong.So_Giuong giường" disabled style="font-weight:bold;color:black;" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--Form Group(Tiện ích)-->
                                        <div class="form-group col-md-12 text-center" style="margin-top: 2.5rem">
                                            <div style="overflow-x: auto; white-space: nowrap; display: inline-block; width: 490px; margin-top:-15px " class="selectgroup selectgroup-pills range">

                                                @foreach (var ti in modelss.DS_Tien_Ich.Where(t => t.Ma_Loai_Phong.Equals(maloaiphong)))
                                                {
                                                    <label class="selectgroup-item">
                                                        <input type="checkbox" class="selectgroup-input" disabled>
                                                        <span class="selectgroup-button no-active">@ti.Tien_Ich.Ten_Tien_Ich</span>
                                                    </label>
                                                }

                                            </div>
                                        </div>
                                        @using (Html.BeginForm("AddDataOrderRoom", "OrderRoom", FormMethod.Get, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="col-md-12">
                                                <div class="row gx-3 mb-3">
                                                    <div class="col-md-8">
                                                        <b class="form-control">
                                                            <label class="small-footer">
                                                                <span style="color:red;">
                                                                    <b>
                                                                        @Model[i].Loai_Phong.Gia.ToString("0,0") &ensp;×&ensp; @(Convert.ToInt32(Convert.ToDateTime(Convert.ToDateTime(Session["thoigian-ve"]).ToString("yyyy/MM/dd")).Subtract(Convert.ToDateTime(Convert.ToDateTime(Session["thoigian-den"]).ToString("yyyy/MM/dd"))).TotalDays + 1)) &ensp;ngày&ensp; = &ensp; @(Convert.ToDecimal(Session["tong-thanhtoan"].ToString()).ToString("0,0"))
                                                                    </b>
                                                                </span>
                                                            </label>
                                                            <label style="float:right;color:red;" class="small-footer">
                                                                <span style="color:red;">
                                                                    <b> VND </b>
                                                                </span>
                                                            </label>
                                                        </b>
                                                    </div>

                                                    @Html.AntiForgeryToken()
                                                    <div style="float:right; height:100%" class="col-md-4">
                                                        <input name="maphong" value="@Model[i].Ma_Phong" hidden="hidden" />
                                                        <button type="submit" style="width:100%" class="btn btn-search" onclick="if (!confirm('Đặt phòng?') ){ return false; }">Đặt phòng</button>
                                                    </div>

                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
