@Html.AntiForgeryToken()
<!DOCTYPE html>
<html lang="vi">

<head>
    <link rel="stylesheet" href="~/assets/css/loadingg.css">
    <link href="~/assets/css/add-style.css" rel="stylesheet" />

    <script>
        window.onbeforeunload = function () { $('#loading').show(); }
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <link href="~/assets/css/fonts.min.css" rel="stylesheet" />
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["helvetica:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['~/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- Review Image Upload-->
    <script src="~/assets/js/reviewImage.js"></script>
    <link rel="stylesheet" href="~/assets/css/fonts.min.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/atlantis.min.css">
    <!-- Alert -->
    <link rel="stylesheet" href="~/assets/css/cute-alert-style.css" />
    <script src="~/assets/js/cute-alert.js"></script>

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">
</head>
<body>
    <div id="coverScreen" class="LockOn">
    </div>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="blue">
                <a href="@Url.Action("Homepage", "Home")" class="logo">
                    <img style="width:100%; height:65px" src="~/img/logo/vanlanghotellogo.png" />
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button style="margin-top:20px" class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

                <div class="container-fluid">
                    <div class="collapse" id="search-nav">
                        <form class="navbar-left navbar-form nav-search mr-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="@Session["user-vatatar"]" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="@Session["user-vatatar"]" alt="image profile" class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <h4>@Session["user-fullname"]</h4>
                                            <p class="text-muted">@Session["user-role"]</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Information", "AccountManagement")">Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="@Url.Action("ChangePassword", "AccountManagement", new {id = Session["user-id"] })" target="_blank">Đổi mật khẩu</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" onclick="xacnhandangxuat()">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="@Session["user-vatatar"]" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @Session["user-fullname"]
                                    <span class="user-level">@Session["user-role"]</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>
                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Information", "AccountManagement")">
                                            <span class="link-collapse">Thông tin cá nhân</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ChangePassword", "AccountManagement", new {id = Session["user-id"] })" target="_blank">
                                            <span class="link-collapse">Đổi mật khẩu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="xacnhandangxuat()">
                                            <span class="link-collapse">Đăng xuất</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-primary">
                        <li class="nav-item active">
                            <a href="@Url.Action("Homepage", "Home")" class="collapsed" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <p>Trang Chủ</p>
                            </a>
                        </li>
                        <hr />
                        <li class="nav-section">
                        </li>
                        @if (Session["user-role"].Equals("Quản lý"))
                        {

                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#base">
                                    <i class="fas fa-user"></i>
                                    <p>Quản Lý Tài Khoản</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="base">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "AccountManagement")">
                                                <span class="sub-item">Danh Sách Tài Khoản</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AddNewAccount", "AccountManagement")">
                                                <span class="sub-item">Thêm Tài Khoản</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#sidebarLayouts">
                                    <i class="fas fa-key"></i>
                                    <p>Quản Lý Quyền</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarLayouts">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "AuthoritiesManagement")">
                                                <span class="sub-item">Danh Sách Quyền</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#abc">
                                    <i class="fas fa-door-open"></i>
                                    <p>Quản Lý Phòng</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="abc">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "AdminManagementRoom")">
                                                <span class="sub-item">Danh Sách Phòng</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AddRoom", "AdminManagementRoom")">
                                                <span class="sub-item">Thêm Phòng</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#sidebarLevelRooms">
                                    <i class="fas fa-bed"></i>
                                    <p>Quản Lý Loại Phòng</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarLevelRooms">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "LevelRoomsManagement")">
                                                <span class="sub-item">Danh Sách Loại Phòng</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AddLevelRooms", "LevelRoomsManagement")">
                                                <span class="sub-item">Thêm Loại Phòng</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#sidebarTienIch">
                                    <i class="fas fa-lightbulb"></i>
                                    <p>Quản Lý Tiện Ích</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarTienIch">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "QuanLyTienIch")">
                                                <span class="sub-item">Danh Sách Tiện Ích</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#sidebarLayoutsTrangthai">
                                    <i class="fas fa-info-circle"></i>
                                    <p>Quản Lý Trạng Thái</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarLayoutsTrangthai">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "QuanLyTrangThai")">
                                                <span class="sub-item">Danh Sách Trạng Thái</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#slibarRevenue">
                                    <i class="fas fa-chart-bar"></i>
                                    <p>Quản Lý Doanh Thu</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="slibarRevenue">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "StatisticRevenue")">
                                                <span class="sub-item">Xem Thống Kê</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <hr />
                            <li class="nav-section">
                            </li>
                        }
                        else if (Session["user-role"].Equals("Nhân viên"))
                        {
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#sidebarLayouts">
                                    <i class="fas fa-door-open"></i>
                                    <p>Quản Lý Phòng</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarLayouts">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("ListOfEmptyRooms", "RoomManagement")">
                                                <span class="sub-item">Phòng Trống</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListOfRentingRooms", "RoomManagement")">
                                                <span class="sub-item">Phòng Đang Cho Thuê</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListRoomDueToPay", "RoomManagement")">
                                                <span class="sub-item">Phòng Cận Hạn</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#slibarTour">
                                    <i class="fas fa-bus-alt"></i>
                                    <p>Quản Lý Tour</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="slibarTour">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "TourManagement")">
                                                <span class="sub-item">Danh Sách Tour</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#slibarHistory">
                                    <i class="fas fa-history"></i>
                                    <p>Lịch Sử Thuê Phòng</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="slibarHistory">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "HistoryOrderRooms")">
                                                <span class="sub-item">Danh Sách Lịch Sử</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <hr />
                            <li class="nav-section">
                            </li>
                        }
                        <li class="nav-item active">
                            <a class="collapsed" aria-expanded="false" onclick="xacnhandangxuat()">
                                <i class="fas icon-logout"></i>
                                <p>Đăng Xuất</p>
                            </a>
                            @*xác nhận đang xuất*@
                            <script>
                                function xacnhandangxuat() {
                                    cuteAlert({
                                    type: "question",
                                    title: "Đăng xuất?",
                                    message: "Bạn có chắc chắn muốn đăng xuất?",
                                        confirmText: "Xác nhận",
                                    cancelText: "Hủy bỏ"

                                    }).then(function (isConfirm) {
                                    if (isConfirm) {
                                    window.location.href = '@Url.Action("Logout", "Auth")';
                                    } else {
                                    return false;
                                    }
                                    });
                                    }
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                @RenderBody()
                @RenderSection("scripts", required: false)
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Homepage", "Home")">
                                    <i class="fa fa-hotel text-danger"></i> &ensp; Van Lang Hotel
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright ml-auto">
                        SEP PROJECT - 2022 &ensp;<i class="fa fa-heart heart text-danger"></i> &ensp;<a href="@Url.Action("Homepage", "Home")">VanLang Hotel</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    @if (ViewBag.Layouts != true)
    {
        <script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
    }
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
    <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    @*<script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>*@

    <!-- jQuery Vector Maps -->
    <script src="~/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="~/assets/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    @*<script src="~/assets/js/setting-demo.js"></script>*@
    @*<script src="~/assets/js/demo.js"></script>*@

    <script>
        $(document).ready(function () {
            $('#basic-datatables').DataTable({
            });

            $('#multi-filter-select').DataTable({
                "pageLength": 5,
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select class="form-control"><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

            $('#addRowButton').click(function () {
                $('#add-row').dataTable().fnAddData([
                    $("#addName").val(),
                    $("#addPosition").val(),
                    $("#addOffice").val(),
                    action
                ]);
                $('#addRowModal').modal('hide');

            });
        });
    </script>

    <script>
        $(window).on('load', function () {
            $("#coverScreen").hide();
        });
    </script>
    <script>
        window.onbeforeunload = function () { $('#coverScreen').show(); }
    </script>

    <!-- Multiple Bar Chart -->
    <script>

        var multipleBarChart = document.getElementById('multipleBarChart').getContext('2d');
        var myMultipleBarChart = new Chart(multipleBarChart, {
            type: 'bar',
            data: {
                labels: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"],
                datasets: [{
                    label: "Thu Cọc",
                    backgroundColor: '#fdaf4b',
                    borderColor: '#fdaf4b',
                    data:  [@ViewBag.CocN1, @ViewBag.CocN2, @ViewBag.CocN3, @ViewBag.CocN4, @ViewBag.CocN5, @ViewBag.CocN6, @ViewBag.CocN7, @ViewBag.CocN8, @ViewBag.CocN9, @ViewBag.CocN10, @ViewBag.CocN11, @ViewBag.CocN12, @ViewBag.CocN13, @ViewBag.CocN14, @ViewBag.CocN15, @ViewBag.CocN16, @ViewBag.CocN17, @ViewBag.CocN18, @ViewBag.CocN19, @ViewBag.CocN20, @ViewBag.CocN21, @ViewBag.CocN22, @ViewBag.CocN23, @ViewBag.CocN24, @ViewBag.CocN25, @ViewBag.CocN26, @ViewBag.CocN27, @ViewBag.CocN28, @ViewBag.CocN29, @ViewBag.CocN30, @ViewBag.CocN31]
                }, {
                    label: "Thanh Toán",
                    backgroundColor: '#f3545d',
                    borderColor: '#f3545d',
                    data: [@ViewBag.ThanhToanN1, @ViewBag.ThanhToanN2, @ViewBag.ThanhToanN3, @ViewBag.ThanhToanN4, @ViewBag.ThanhToanN5, @ViewBag.ThanhToanN6, @ViewBag.ThanhToanN7, @ViewBag.ThanhToanN8, @ViewBag.ThanhToanN9, @ViewBag.ThanhToanN10, @ViewBag.ThanhToanN11, @ViewBag.ThanhToanN12, @ViewBag.ThanhToanN13, @ViewBag.ThanhToanN14, @ViewBag.ThanhToanN15, @ViewBag.ThanhToanN16, @ViewBag.ThanhToanN17, @ViewBag.ThanhToanN18, @ViewBag.ThanhToanN19, @ViewBag.ThanhToanN20, @ViewBag.ThanhToanN21, @ViewBag.ThanhToanN22, @ViewBag.ThanhToanN23, @ViewBag.ThanhToanN24, @ViewBag.ThanhToanN25, @ViewBag.ThanhToanN26, @ViewBag.ThanhToanN27, @ViewBag.ThanhToanN28, @ViewBag.ThanhToanN29, @ViewBag.ThanhToanN30, @ViewBag.ThanhToanN31]
                }, {
                    label: "Tổng Thu",
                    backgroundColor: '#177dff',
                    borderColor: '#177dff',
                    data: [@ViewBag.TongN1, @ViewBag.TongN2, @ViewBag.TongN3, @ViewBag.TongN4, @ViewBag.TongN5, @ViewBag.TongN6, @ViewBag.TongN7, @ViewBag.TongN8, @ViewBag.TongN9, @ViewBag.TongN10, @ViewBag.TongN11, @ViewBag.TongN12, @ViewBag.TongN13, @ViewBag.TongN14, @ViewBag.TongN15, @ViewBag.TongN16, @ViewBag.TongN17, @ViewBag.TongN18, @ViewBag.TongN19, @ViewBag.TongN20, @ViewBag.TongN21, @ViewBag.TongN22, @ViewBag.TongN23, @ViewBag.TongN24, @ViewBag.TongN25, @ViewBag.TongN26, @ViewBag.TongN27, @ViewBag.TongN28, @ViewBag.TongN29, @ViewBag.TongN30, @ViewBag.TongN31]
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });

    </script>


    <!-- Line Chart -->
    <script>
        var lineChart = document.getElementById('lineChart').getContext('2d');
        var myLineChart = new Chart(lineChart, {
            type: 'line',
            data: {
                labels: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"],
                datasets: [{
                    label: "Số Giao Dịch",
                    borderColor: "#1d7af3",
                    pointBorderColor: "#FFF",
                    pointBackgroundColor: "#1d7af3",
                    pointBorderWidth: 2,
                    pointHoverRadius: 4,
                    pointHoverBorderWidth: 1,
                    pointRadius: 4,
                    backgroundColor: 'transparent',
                    fill: true,
                    borderWidth: 2,
                    data: [@ViewBag.SLN1, @ViewBag.SLN2, @ViewBag.SLN3, @ViewBag.SLN4, @ViewBag.SLN5, @ViewBag.SLN6, @ViewBag.SLN7, @ViewBag.SLN8, @ViewBag.SLN9, @ViewBag.SLN10, @ViewBag.SLN11, @ViewBag.SLN12, @ViewBag.SLN13, @ViewBag.SLN14, @ViewBag.SLN15, @ViewBag.SLN16, @ViewBag.SLN17, @ViewBag.SLN18, @ViewBag.SLN19, @ViewBag.SLN20, @ViewBag.SLN21, @ViewBag.SLN22, @ViewBag.SLN23, @ViewBag.SLN24, @ViewBag.SLN25, @ViewBag.SLN26, @ViewBag.SLN27, @ViewBag.SLN28, @ViewBag.SLN29, @ViewBag.SLN30, @ViewBag.SLN31]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom',
                    labels: {
                        padding: 10,
                        fontColor: '#1d7af3',
                    }
                },
                tooltips: {
                    bodySpacing: 4,
                    mode: "nearest",
                    intersect: 0,
                    position: "nearest",
                    xPadding: 10,
                    yPadding: 10,
                    caretPadding: 10
                },
                layout: {
                    padding: { left: 15, right: 15, top: 15, bottom: 15 }
                }
            }
        });

    </script>

    <!-- Chart -->
    <script>
    var ctx = document.getElementById('statisticsChart').getContext('2d');
        var statisticsChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Tháng Một", "Tháng Hai", "Tháng Ba", "Tháng Bốn", "Tháng Năm", "Tháng Sáu", "Tháng Bảy", "Tháng Tám", "Tháng Chín", "Tháng Mười", "Tháng M.Một", "Tháng M.Hai"],
                datasets: [{
                    label: "Thanh Toán",
                    borderColor: '#f3545d',
                    pointBackgroundColor: 'rgba(243, 84, 93, 0.6)',
                    pointRadius: 0,
                    backgroundColor: 'rgba(243, 84, 93, 0.4)',
                    legendColor: '#f3545d',
                    fill: true,
                    borderWidth: 2,
                    data: [@ViewBag.ThanhToanThangMot, @ViewBag.ThanhToanThangHai, @ViewBag.ThanhToanThangBa, @ViewBag.ThanhToanThangBon, @ViewBag.ThanhToanThangNam, @ViewBag.ThanhToanThangSau, @ViewBag.ThanhToanThangBay, @ViewBag.ThanhToanThangTam, @ViewBag.ThanhToanThangChin, @ViewBag.ThanhToanThangMuoi, @ViewBag.ThanhToanThangMot, @ViewBag.ThanhToanThangMHai]

                }, {
                    label: "Thu Cọc",
                    borderColor: '#fdaf4b',
                    pointBackgroundColor: 'rgba(253, 175, 75, 0.6)',
                    pointRadius: 0,
                    backgroundColor: 'rgba(253, 175, 75, 0.4)',
                    legendColor: '#fdaf4b',
                    fill: true,
                    borderWidth: 2,
                    data: [@ViewBag.CocThangMot, @ViewBag.CocThangHai, @ViewBag.CocThangBa, @ViewBag.CocThangBon, @ViewBag.CocThangNam, @ViewBag.CocThangSau, @ViewBag.CocThangBay, @ViewBag.CocThangTam, @ViewBag.CocThangChin, @ViewBag.CocThangMuoi, @ViewBag.CocThangMMot, @ViewBag.CocThangMHai]
                }, {
                    label: "Tổng Thu",
                    borderColor: '#177dff',
                    pointBackgroundColor: 'rgba(23, 125, 255, 0.6)',
                    pointRadius: 0,
                    backgroundColor: 'rgba(23, 125, 255, 0.4)',
                    legendColor: '#177dff',
                    fill: true,
                    borderWidth: 2,
                    data: [@ViewBag.TongThangMot, @ViewBag.TongThangHai, @ViewBag.TongThangBa, @ViewBag.TongThangBon, @ViewBag.TongThangNam, @ViewBag.TongThangSau, @ViewBag.TongThangBay, @ViewBag.TongThangTam, @ViewBag.TongThangChin, @ViewBag.TongThangMuoi, @ViewBag.TongThangMMot, @ViewBag.TongThangMHai]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    bodySpacing: 4,
                    mode: "nearest",
                    intersect: 0,
                    position: "nearest",
                    xPadding: 10,
                    yPadding: 10,
                    caretPadding: 10
                },
                layout: {
                    padding: { left: 5, right: 5, top: 15, bottom: 15 }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontStyle: "500",
                            beginAtZero: false,
                            maxTicksLimit: 5,
                            padding: 10
                        },
                        gridLines: {
                            drawTicks: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            zeroLineColor: "transparent"
                        },
                        ticks: {
                            padding: 10,
                            fontStyle: "500"
                        }
                    }]
                },
                legendCallback: function (chart) {
                    var text = [];
                    text.push('<ul class="' + chart.id + '-legend html-legend">');
                    for (var i = 0; i < chart.data.datasets.length; i++) {
                        text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
                        if (chart.data.datasets[i].label) {
                            text.push(chart.data.datasets[i].label);
                        }
                        text.push('</li>');
                    }
                    text.push('</ul>');
                    return text.join('');
                }
            }
        });

        var myLegendContainer = document.getElementById("myChartLegend");

        // generate HTML legend
        myLegendContainer.innerHTML = statisticsChart.generateLegend();

        // bind onClick event to all LI-tags of the legend
        var legendItems = myLegendContainer.getElementsByTagName('li');
        for (var i = 0; i < legendItems.length; i += 1) {
            legendItems[i].addEventListener("click", legendClickCallback, false);
        }

    </script>

    <script>
        $(document).ready(function () {
            $('select option:contains("Tháng @ViewBag.Thang")').prop('selected', true);
            $('select option:contains("Năm @ViewBag.Nam")').prop('selected', true);
        });
    </script>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

    <script src="~/assets/js/table2excel.js"></script>
    <script type="text/javascript">
        function ExportQuestion() {
           cuteAlert({
               type: "question",
               title: "Thông báo",
               message: "Xác nhận xuất dữ liệu giao dịch tháng @ViewBag.Thang năm @ViewBag.Nam với định dạng .xls",
               confirmText: "Xác nhận", cancelText: "Hủy"
               }).then(function (isConfirm) {
                   if (isConfirm) {
                       $("#multi-filter-select").table2excel({
                        filename: "Thong-Ke-Doanh-Thu-Thang-@ViewBag.Thang-Nam-@ViewBag.Nam"+".xls"
                    });
                   } else {
                       return false;
                   }
               });
            }
    </script>
</body>

</html>