@Html.AntiForgeryToken()
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/assets/css/loadingg.css">
    <link href="~/assets/css/add-style.css" rel="stylesheet" />

    <script>
        window.onbeforeunload = function () { $('#loading').show(); }
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <link href="~/assets/css/fonts.min.css" rel="stylesheet" />
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["helvetica:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['~/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- Review Image Upload-->
    <script src="~/assets/js/reviewImage.js"></script>
    <link rel="stylesheet" href="~/assets/css/fonts.min.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/atlantis.min.css">
    <!-- Alert -->
    <link rel="stylesheet" href="~/assets/css/cute-alert-style.css" />
    <script src="~/assets/js/cute-alert.js"></script>

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">
</head>
<body>
    <div id="coverScreen" class="LockOn">
    </div>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="blue">
                <a href="@Url.Action("Homepage", "Home")" class="logo">
                    <img style="width:100%; height:65px" src="~/img/logo/vanlanghotellogo.png" />
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button style="margin-top:20px" class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

                <div class="container-fluid">
                    <div class="collapse" id="search-nav">
                        <form class="navbar-left navbar-form nav-search mr-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="@Session["user-vatatar"]" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="@Session["user-vatatar"]" alt="image profile" class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <h4>@Session["user-fullname"]</h4>
                                            <p class="text-muted">@Session["user-role"]</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Information", "AccountManagement")">Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="@Url.Action("ChangePassword", "AccountManagement", new {id = Session["user-id"] })" target="_blank">Đổi mật khẩu</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" onclick="xacnhandangxuat()">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="@Session["user-vatatar"]" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @Session["user-fullname"]
                                    <span class="user-level">@Session["user-role"]</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>
                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Information", "AccountManagement")">
                                            <span class="link-collapse">Thông tin cá nhân</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ChangePassword", "AccountManagement", new {id = Session["user-id"] })" target="_blank">
                                            <span class="link-collapse">Đổi mật khẩu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="xacnhandangxuat()">
                                            <span class="link-collapse">Đăng xuất</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-primary">
                        <li class="nav-item active">
                            <a href="@Url.Action("Homepage", "Home")" class="collapsed" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <p>Trang chủ</p>
                            </a>
                        </li>
                        <hr />
                        <li class="nav-section">
                        </li>
                        @if (Session["user-role"].Equals("Quản lý"))
                        {

                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#base">
                                    <i class="fas fa-user"></i>
                                    <p>Quản lý tài khoản</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="base">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "AccountManagement")">
                                                <span class="sub-item">Danh sách tài khoản</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AddNewAccount", "AccountManagement")">
                                                <span class="sub-item">Thêm tài khoản</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#sidebarLayouts">
                                    <i class="fas fa-key"></i>
                                    <p>Quản lý quyền</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarLayouts">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "AuthoritiesManagement")">
                                                <span class="sub-item">Danh sách quyền</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-section">
                            </li>
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#abc">
                                    <i class="fas fa-hospital"></i>
                                    <p>Quản lý phòng</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="abc">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Home", "AdminManagementRoom")">
                                                <span class="sub-item">Danh sách phòng</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <hr />
                            <li class="nav-section">
                            </li>
                        }
                        else if (Session["user-role"].Equals("Nhân viên"))
                        {
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#sidebarLayouts">
                                    <i class="fas fa-key"></i>
                                    <p>Quản lý phòng</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarLayouts">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("ListOfEmptyRooms", "RoomManagement")">
                                                <span class="sub-item">Phòng Trống</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListOfRentingRooms", "RoomManagement")">
                                                <span class="sub-item">Phòng Đang Cho Thuê</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListRoomDueToPay", "RoomManagement")">
                                                <span class="sub-item">Phòng Đến hạn</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <hr />
                            <li class="nav-section">
                            </li>
                        }
                        <li align="bottom" class="nav-item active">
                            <a class="collapsed" aria-expanded="false" onclick="xacnhandangxuat()">
                                <i class="fas icon-logout"></i>
                                <p>Đăng Xuất</p>
                            </a>
                            @*xác nhận đang xuất*@
                            <script>
                                function xacnhandangxuat() {
                                    cuteAlert({
                                    type: "question",
                                    title: "Đăng xuất?",
                                    message: "Bạn có chắc chắn muốn đăng xuất?",
                                        confirmText: "Xác nhận",
                                    cancelText: "Hủy bỏ"

                                    }).then(function (isConfirm) {
                                    if (isConfirm) {
                                    window.location.href = '@Url.Action("Logout", "Auth")';
                                    } else {
                                    return false;
                                    }
                                    });
                                    }
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                @RenderBody()
                @RenderSection("scripts", required: false)
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Van Lang Hotel
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright ml-auto">
                        2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="#">VanLang Hotel</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    @if (ViewBag.Layouts != true)
    {
        <script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
    }
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
    <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    @*<script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>*@

    <!-- jQuery Vector Maps -->
    <script src="~/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="~/assets/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="~/assets/js/setting-demo.js"></script>
    <script src="~/assets/js/demo.js"></script>
    <script>
        Circles.create({
            id: 'circles-1',
            radius: 45,
            value: 60,
            maxValue: 100,
            width: 7,
            text: 5,
            colors: ['#f1f1f1', '#FF9E27'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-2',
            radius: 45,
            value: 70,
            maxValue: 100,
            width: 7,
            text: 36,
            colors: ['#f1f1f1', '#2BB930'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-3',
            radius: 45,
            value: 40,
            maxValue: 100,
            width: 7,
            text: 12,
            colors: ['#f1f1f1', '#F25961'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

        var mytotalIncomeChart = new Chart(totalIncomeChart, {
            type: 'bar',
            data: {
                labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
                datasets: [{
                    label: "Total Income",
                    backgroundColor: '#ff9e27',
                    borderColor: 'rgb(23, 125, 255)',
                    data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            display: false //this will remove only the label
                        },
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }]
                },
            }
        });

        $('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: 'line',
            height: '70',
            width: '100%',
            lineWidth: '2',
            lineColor: '#ffa534',
            fillColor: 'rgba(255, 165, 52, .14)'
        });
    </script>
    <script>
        $(window).on('load', function () {
            $("#coverScreen").hide();
        });
    </script>
    <script>
        window.onbeforeunload = function () { $('#coverScreen').show(); }
    </script>
</body>

</html>