@model IEnumerable<SEP_VanLangHotel.Models.Tien_Ich>

@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Homepage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_Tien_Ich)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_Tien_Ich)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_Tien_Ich }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_Tien_Ich }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_Tien_Ich })
        </td>
    </tr>
}

</table>
