@model  SEP_VanLangHotel.Models.ListTienIch
@using SEP_VanLangHotel.Models;
@{SEP25Team09Entities db = new SEP25Team09Entities(); }
@{
    ViewBag.Title = "TRANG CHỦ - VĂN LANG HOTEL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Layouts = true;
}
@if (!Session["error-import-file"].Equals("empthy"))
{
    <body onload="kiemtrafileimport()">
    </body>
    <script>
        let info = @Html.Raw(Json.Encode(Session["error-import-file"]));
        function kiemtrafileimport() {
            cuteAlert({
                type: "error",
                title: "Thông báo!",
                message: info,
                buttonText: "Xác nhận"
            })
        }
    </script>
    Session["error-import-file"] = "empthy";
}
else if (!Session["thongbaoSuccess"].Equals("empthy"))
{
    <body onload="kiemtrafileimport()">
    </body>
    <script>
    let info = @Html.Raw(Json.Encode(Session["thongbaoSuccess"]));
    function kiemtrafileimport()
    {
        cuteAlert({
            type: "Success",
            title: "Thông báo!",
            message: info,
            buttonText: "Xác nhận"
        })
    }
    </script>
    Session["thongbaoSuccess"] = "empthy";
}


<style>
    input[type=checkbox] {
        transform: scale(2);
        margin-top: 10px;
        margin-bottom: 7px;
    }
</style>

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 style="text-shadow: black 0.1em 0.1em 0.2em" class="text-white pb-2 fw-bold">@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <p style="font-weight:bold; font-size:16px; color: orangered;">ĐẶT PHÒNG KHÁCH SẠN</p>
                            <label for="import"></label>
                            <button style="color:white; font-size:13px" class="btn btn-secondary btn-round ml-auto" data-toggle="modal" data-target="#imPortModal">
                                <i style="color:white; font-size:16px" class="fas fa-file-import"></i> &ensp;
                                IMPORT DANH SÁCH
                            </button>
                            &ensp;
                            <button onclick="exportMau()" style="color:white; font-size:18px" class="btn btn-secondary btn-round" data-toggle="tooltip" data-original-title="Tải xuống File mẫu import. Định dạng .xls">
                                <i class="fa fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="modal fade" id="imPortModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header no-bd">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold">
                                                Nhập danh sách
                                            </span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    @using (Html.BeginForm("ImportData", "OrderRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div style="text-align:center;" class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <input id="importFileExcel" name="importFileExcel" class="btn btn-secondary btn-round ml-aut" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align:center;" class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button style="text-align: center; color: white; width: 150px" type="submit" class="btn btn-search" onclick="if (!confirm('Tìm phòng?')) { return false; } {$('#imPortModal').modal('toggle'); }">Tìm Phòng</button>
                                                    &ensp;
                                                    <a role="button" style="text-align: center; width: 150px; color: white;" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Hủy</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row card-item bg">
                            <div class="col-xl-12">
                                @using (Html.BeginForm("orderRooms", "OrderRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group col-md-12 text-center" style="margin-top: -2rem">
                                        <label style="text-align:center" class="small-title mb-1" for="">Thông Tin đặt phòng</label>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-3">
                                            <label class="small mb-1">Ở hết ngày</label>
                                            <input name="ngayVe" style="color:black" type="date" class="form-control" required="required" oninvalid="this.setCustomValidity('Hãy chọn ngày đi')" oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="small mb-1">Số người lớn</label>
                                            <input name="soNguoiLon" style="color:black" type="number" min="1" max="4" class="form-control" required="required" oninvalid="this.setCustomValidity('Hãy nhập số lượng người lớn tối đa 4 người')" oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="small mb-1">Số trẻ em (dưới 14 tuổi)</label>
                                            <input name="soTreEm" style="color:black" type="number" min="0" max="5" class="form-control" required="required" oninvalid="this.setCustomValidity('Hãy nhập số lượng trẻ em tối đa 4 người')" oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="small mb-1">Số giường</label>
                                            <input name="soGiuong" style="color:black" type="number" min="1" max="2" class="form-control" required="required" oninvalid="this.setCustomValidity('Hãy nhập số lượng giường của phòng tối đa 2 giường')" oninput="this.setCustomValidity('')">
                                        </div>
                                    </div>
                                    <br />
                                    <hr />

                                    <div class="row gx-3 mb-3">
                                        <div class="form-group col-md-12 text-center">
                                            <div class="selectgroup selectgroup-pills">
                                                @for (int i = 0; i < Model.tienIch.Count; i++)
                                                {
                                                    <label class="selectgroup-item">
                                                        @Html.CheckBoxFor(t => Model.tienIch[i].IsChecks, new { @class = "form-control", type = "checkbox", style = "accent-color: #e74c3c" })
                                                        <span style="border-color:peru;" class="selectgroup-button">@Model.tienIch[i].Ten_Tien_Ich</span>
                                                        @Html.HiddenFor(t => Model.tienIch[i].Ma_Tien_Ich)
                                                        @Html.HiddenFor(t => Model.tienIch[i].Ten_Tien_Ich)

                                                    </label>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <br />
                                    <div style="text-align: center;" class="mb-3">
                                        <button style="width:180px" type="submit" class="btn btn-search">
                                            Tìm kiếm
                                        </button>
                                    </div>
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table hidden id="filemauExport" class="table">
            <thead>
                <tr>
                    <th colspan="10">THÔNG TIN ĐẶT PHÒNG</th>
                    <th colspan="@Model.tienIch.Count">TIỆN ÍCH PHÒNG (CÓ: 1, KHÔNG: 0)</th>
                    <th colspan="2">THỜI GIAN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nhóm</td>
                    <td>STT</td>
                    <td>Họ và Tên</td>
                    <td>Mối quan hệ</td>
                    <td>Số CMND/CCCD</td>
                    <td>Số điện thoại</td>
                    <td>
                        Ngày sinh (Năm-Tháng-Ngày)
                        VD: 2000-02-20
                    </td>
                    <td>
                        Nam (1)
                        Nữ (0)
                    </td>
                    <td>Địa chỉ</td>
                    <td>Số giường</td>
                    @foreach (var item in Model.tienIch)
                    {
                        <td>@item.Ten_Tien_Ich</td>
                    }
                    <td>
                        Ngày đến (Năm-Tháng-Ngày)
                        VD: 2000-02-20
                    </td>
                    <td>
                        Ngày về (Năm-Tháng-Ngày)
                        VD: 2000-02-20
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">1</td>
                    <td>1</td>
                    <td>Nguyễn Văn A</td>
                    <td></td>
                    <td>070200000000</td>
                    <td>0367899899</td>
                    <td>
                        1997-06-28
                    </td>
                    <td>
                        1
                    </td>
                    <td>73 Bà Huyện Thanh Quan, Phường Võ Thị Sáu, Quận 3, Thành phố Hồ Chí Minh</td>
                    <td>1</td>
                    @foreach (var item in Model.tienIch)
                    {
                        <td>0</td>
                    }
                    <td rowspan="2">
                        @DateTime.Now.ToString("yyyy-MM-dd")
                    </td>
                    <td rowspan="2">
                        @DateTime.Now.AddDays(7).ToString("yyyy-MM-dd")
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Nguyễn Văn B</td>
                    <td>Bạn bè</td>
                    <td>070200001111</td>
                    <td>0909009009</td>
                    <td>
                        1997-04-22
                    </td>
                    <td>
                        1
                    </td>
                    <td>214/78 Nguyễn Oanh, Phường 17, Quận Gò Vấp, Thành phố Hồ Chí Minh</td>
                    <td>1</td>
                    @foreach (var item in Model.tienIch)
                    {
                        <td>1</td>
                    }
                </tr>
            </tbody>
        </table>

    </div>
</div>


<script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>
<script src="~/assets/js/core/bootstrap.min.js"></script>
<!-- jQuery UI -->
<script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- Datatables -->
<script src="~/assets/js/plugin/datatables/datatables.min.js"></script>
<!-- Atlantis JS -->
<script src="~/assets/js/atlantis.min.js"></script>
<!-- Atlantis DEMO methods, don't include it in your project! -->
<script>
    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });
    });</script>
