@model SEP_VanLangHotel.Models.Tai_Khoan

@{
    ViewBag.Title = "DetailtAccount";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>DetailtAccount</h2>

<div>
    <h4>Tai_Khoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_Dang_Nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_Dang_Nhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMND_CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND_CCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ho_Va_Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ho_Va_Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinh_Nhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinh_Nhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gioi_Tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioi_Tinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia_Chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia_Chi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen.Ten_Quyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen.Ten_Quyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sua", "UpdateAccount", new { id = Model.Ma_Tai_Khoan }) |
    @Html.ActionLink("Back to List", "Home")
</p>
