@model SEP_VanLangHotel.Models.Tai_Khoan

@{
    ViewBag.Title = "THÔNG TIN TÀI KHOẢN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!Session["error-import-file"].Equals("empthy"))
{
    <body onload="kiemtrafileimport()">
    </body>
    <script>
        let info = @Html.Raw(Json.Encode(Session["error-import-file"]));
        function kiemtrafileimport() {
            cuteAlert({
                type: "error",
                title: "Thông báo!",
                message: info,
                buttonText: "Xác nhận"
            })
        }
    </script>
    Session["error-import-file"] = "empthy";
}
else if (!Session["thongbaoSuccess"].Equals("empthy"))
{
    <body onload="kiemtrafileimport()">
    </body>
    <script>
    let info = @Html.Raw(Json.Encode(Session["thongbaoSuccess"]));
    function kiemtrafileimport()
    {
        cuteAlert({
            type: "Success",
            title: "Thông báo!",
            message: info,
            buttonText: "Xác nhận"
        })
    }
    </script>
    Session["thongbaoSuccess"] = "empthy";
}

<title>@ViewBag.Title</title>
<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 style="text-shadow: black 0.1em 0.1em 0.2em" class="text-white pb-2 fw-bold">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header"><b>Ảnh hồ sơ</b></div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="@Model.Avatar" alt="">
                    <div class="small font-italic text-muted mb-2">@Model.Quyen.Ten_Quyen</div>
                    <label style="width: 250px;" class="btn btn-danger" type="label"><b style="font-size:16px;color:white;">@Model.Ho_Va_Ten</b></label>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header"><b>Thông tin chi tiết</b></div>
                <div class="card-body" style="margin-top: -1.8rem">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1">Username</label>
                            <input style="color:black" type="text" class="form-control" value="@Model.Ten_Dang_Nhap" disabled>
                        </div>
                        <!-- Form Group (hoten)-->
                        <div class="mb-3">
                            <label class="small mb-1">Họ và Tên</label>
                            <input style="color:black" type="text" class="form-control" value="@Model.Ho_Va_Ten" disabled>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Giới tính</label>
                                @if (Model.Gioi_Tinh == 1)
                                {
                                    <input style="color:black" type="text" class="form-control" value="Nam" disabled>
                                }
                                else if (Model.Gioi_Tinh == 0)
                                {
                                    <input style="color:black" type="text" class="form-control" value="Nữ" disabled>
                                }
                                else
                                {
                                    <input style="color:black" type="text" class="form-control" value="Khác" disabled>
                                }
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Ngày sinh</label>
                                <input style="color:black" type="text" class="form-control" value="@Convert.ToDateTime(Model.Sinh_Nhat).ToString("dd/MM/yyyy")" disabled>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">CMND/CCCD</label>
                                <input style="color:black" type="text" class="form-control" value="@Model.CMND_CCCD" disabled>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Số điện thoại</label>
                                <input style="color:black" type="text" class="form-control" value="@Model.SDT" disabled>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Địa chỉ Email</label>
                            <input style="color:black" type="text" class="form-control" value="@Model.Email" disabled>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Địa chỉ nhà</label>
                            <textarea rows="5" style="color:black; height: 600px" type="text" class="form-control" disabled>@Model.Dia_Chi</textarea>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Quyền</label>
                            <input style="color:black" type="text" class="form-control" value="@Model.Quyen.Ten_Quyen" disabled>
                        </div>
                        <!-- Save changes button-->
                        <br />
                        <hr />
                        <div style="text-align: center; margin-top: 1.8rem" class="mb-3">
                            <a style="width: 180px; color: white; " class="btn btn-search" role="button" href="@Url.Action("UpdateAccount", "AccountManagement", new {id = Model.Ma_Tai_Khoan})" id="btn-edit__lock">
                                Chỉnh sửa thông tin
                            </a>
                            &emsp;
                            @if (Model.Quyen.Ten_Quyen.Equals("Quản lý") && !Model.Ten_Dang_Nhap.Equals("admin"))
                            {
                                <a style="width: 180px;color:white;" class="btn btn-danger" role="button" onclick="xoataikhoan()" id="btn-edit__lock">
                                    Xóa tài khoản
                                </a>
                                <script>
                                    function xoataikhoan() {
                                        cuteAlert({
                                            type: "question",
                                            title: "Xóa tài khoản?",
                                            message: "Bạn có chắc chắn muốn xóa tài khoản @Model.Ten_Dang_Nhap?",
                                            confirmText: "Xác nhận", cancelText: "Hủy bỏ"
                                        }).then(function (isConfirm) {
                                            if (isConfirm) {
                                                window.location.href = '@Url.Action("RemoveAccount", "AccountManagement", new { id = Model.Ma_Tai_Khoan })';
                                            } else {
                                                return false;
                                            }
                                        });
                                    }
                                </script>
                            }
                            @if (!Model.Quyen.Ten_Quyen.Equals("Quản lý"))
                            {
                                if (Model.Lock == 0)
                                {
                                    <a style="width: 180px; color: white;" class="btn btn-danger" role="button" onclick="khoataikhoan()" id="btn-edit__lock">
                                        Khóa tài khoản
                                        <i class='bx bx-lock-alt'></i>
                                    </a>
                                    <script>
                                        function khoataikhoan() {
                                            cuteAlert({
                                                type: "question",
                                                title: "Khóa tài khoản?",
                                                message: "Bạn có chắc chắn muốn khóa tài khoản @Model.Ten_Dang_Nhap?",
                                                confirmText: "Xác nhận", cancelText: "Hủy bỏ"
                                            }).then(function (isConfirm) {
                                                if (isConfirm) {
                                                    window.location.href = '@Url.Action("LockAccount", "AccountManagement", new { id = Model.Ma_Tai_Khoan })';
                                                } else {
                                                    return false;
                                                }
                                            });
                                        }
                                    </script>
                                }
                                else
                                {
                                    <a style="width: 180px; color: white" class="btn btn-search" role="button" onclick="mokhoataikhoan()" id="btn-edit__lock">
                                        Mở Khóa tài khoản
                                        <i class='bx bx-lock-alt'></i>
                                    </a>
                                    <script>
                                        function mokhoataikhoan() {
                                            cuteAlert({
                                                type: "question",
                                                title: "Mở khóa tài khoản?",
                                                message: "Bạn có chắc chắn muốn mở khóa tài khoản @Model.Ten_Dang_Nhap?",
                                                confirmText: "Xác nhận", cancelText: "Hủy bỏ"
                                            }).then(function (isConfirm) {
                                                if (isConfirm) {
                                                    window.location.href = '@Url.Action("LockAccount", "AccountManagement", new { id = Model.Ma_Tai_Khoan })';
                                                } else {
                                                    return false;
                                                }
                                            });
                                        }
                                    </script>
                                }
                            }
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/assets/css/profiles.css">

