@model SEP_VanLangHotel.Models.Tai_Khoan

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>
<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
    <div class="row">
        <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header"><b>Ảnh hồ sơ</b></div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="@Model.Avatar" alt="">
                    <div class="small font-italic text-muted mb-2">@Model.Quyen.Ten_Quyen</div>
                    <label style="width: 250px;" class="btn btn-danger" type="label"><b style="font-size:16px;color:white;">@Model.Ho_Va_Ten</b></label>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header"><b>Thông tin chi tiết</b></div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1">Username</label>
                            <input style="color:black" type="text" class="form-control" value="@Model.Ten_Dang_Nhap" disabled>
                        </div>
                        <!-- Form Group (hoten)-->
                        <div class="mb-3">
                            <label class="small mb-1">Họ và Tên</label>
                            <input style="color:black" type="text" class="form-control" value="@Model.Ho_Va_Ten" disabled>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Giới tính</label>
                                @if (Model.Gioi_Tinh == 1)
                                {
                                    <input style="color:black" type="text" class="form-control" value="Nam" disabled>
                                }
                                else if (Model.Gioi_Tinh == 0)
                                {
                                    <input style="color:black" type="text" class="form-control" value="Nữ" disabled>
                                }
                                else
                                {
                                    <input style="color:black" type="text" class="form-control" value="Khác" disabled>
                                }
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Ngày sinh</label>
                                <input style="color:black" type="text" class="form-control" value="@Convert.ToDateTime(Model.Sinh_Nhat).ToString("dd/MM/yyyy")" disabled>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">CMND/CCCD</label>
                                <input style="color:black" type="text" class="form-control" value="@Model.CMND_CCCD" disabled>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Số điện thoại</label>
                                <input style="color:black" type="text" class="form-control" value="@Model.SDT" disabled>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Địa chỉ Email</label>
                            <input style="color:black" type="text" class="form-control" value="@Model.Email" disabled>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Địa chỉ nhà</label>
                            <textarea rows="5" style="color:black; height: 600px" type="text" class="form-control" disabled>@Model.Dia_Chi</textarea>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Quyền</label>
                            <input style="color:black" type="text" class="form-control" value="@Model.Quyen.Ten_Quyen" disabled>
                        </div>
                        <!-- Save changes button-->
                        <hr />
                        <div style="text-align:center;" class="mb-3">
                            <a style="width: 180px;color:white;" class="btn btn-primary" role="button" href="@Url.Action("UpdateAccount", "AccountManagement", new {id = Model.Ma_Tai_Khoan})">
                                Chỉnh sửa TT
                            </a>
                            &emsp;
                            <a style="width: 180px;color:white;" class="btn btn-primary" role="button" href="@Url.Action("ChangePassword", "AccountManagement", new {id = Model.Ten_Dang_Nhap})" target="_blank">
                                Đổi mật khẩu
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/assets/css/profiles.css">

<script>
    Circles.create({
        id: 'circles-1',
        radius: 45,
        value: 60,
        maxValue: 100,
        width: 7,
        text: 5,
        colors: ['#f1f1f1', '#FF9E27'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })

    Circles.create({
        id: 'circles-2',
        radius: 45,
        value: 70,
        maxValue: 100,
        width: 7,
        text: 36,
        colors: ['#f1f1f1', '#2BB930'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })

    Circles.create({
        id: 'circles-3',
        radius: 45,
        value: 40,
        maxValue: 100,
        width: 7,
        text: 12,
        colors: ['#f1f1f1', '#F25961'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })

    var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

    var mytotalIncomeChart = new Chart(totalIncomeChart, {
        type: 'bar',
        data: {
            labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
            datasets: [{
                label: "Total Income",
                backgroundColor: '#ff9e27',
                borderColor: 'rgb(23, 125, 255)',
                data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        display: false //this will remove only the label
                    },
                    gridLines: {
                        drawBorder: false,
                        display: false
                    }
                }],
                xAxes: [{
                    gridLines: {
                        drawBorder: false,
                        display: false
                    }
                }]
            },
        }
    });

    $('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
        type: 'line',
        height: '70',
        width: '100%',
        lineWidth: '2',
        lineColor: '#ffa534',
        fillColor: 'rgba(255, 165, 52, .14)'
    });
</script>

